.container {
  width: 100%;
}

.innerContainer {
  width: 100%;
  margin-bottom: 4rem;
  background: rgba(250, 112, 112, 0.1);
}

.hero {
  width: 90%;
  margin: auto;
}

.logo {
  padding-top: 3rem;
}

.logo>img{
    width: 10%;
}

.text {
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.text h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
  text-align: center;
  letter-spacing: -0.005em;
  color: #231f20;
}

.text p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #686060;
  width: 63%;
  margin: auto;
  padding-bottom: 2rem;
}

.text button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    width: 220px;
    height: 54px;
    background: #D81616;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.services {
  width: 100%;
  margin: auto;
  background: #ffffff;
}

.topServices {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-bottom: 5rem;
}

.topServices h3 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.005em;
  color: #231f20;
}

.topServices p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #686060;
}

.mainServices {
  width: 80%;
  margin: auto;
}

.image>img{
    width: 95%;
  }

.card {
  width: 522px;
  height: 182px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding-top: 3.5rem;
  padding-left: 3rem;
}

.card:hover {
  box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
  border-radius: 14px;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.7s;
}

.cardText h4 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #2f2c4a;
}

.cardText p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #8c8c8c;
  width: 85%;
}

.cards1 {
  display: flex;
  justify-content: space-between;
}

.cards2 {
  display: flex;
  justify-content: space-between;
}

.footer{
    width: 100%;
    background: #231F20;
    margin-top: 3rem;
}

.footInner{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footText p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 14px;
    color: #F6F6F6;
    padding-top: 1.5rem;
}

.footLogo{
    margin-left: 8rem;
}

.footSocial{
    padding-top: 1.7rem;
}

.footSocial>img{
    width: 20%;
    padding-left: 0.5rem;
}

@media screen and (max-width: 1024px){
    .logo>img{
        width: 12%;
    }

    .board>img{
        width: 95%;
    }

    .text {
        width: 95%;
      }

    .text h2 {
        font-size: 64px;
        line-height: 72px;
        padding-bottom: 1rem;
      }

      .text p {
        width: 70%;
      }
      
      .mainServices {
        width: 90%;
        margin: auto;
      }
      .cardText p {
        width: 90%;
      }

      .image>img{
        width: 95%;
      }
}

@media screen and (max-width: 768px){
    .text {
        width: 85%;
      }

    .text h2 {
        font-size: 44px;
        line-height: 52px;
        padding-bottom: 1rem;
      }

      .text p {
        width: 90%;
        font-size: 20px;
      }

      .topServices {
        padding-bottom: 0.5rem;
      }

      .topServices h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
      }
      
      .topServices p {
        font-size: 16px;
      }
      
      
      .mainServices {
        width: 90%;
        margin: auto;
      }

      .cardText h4 {
        font-weight: 400;
        font-size: 18px;
      }
      
      .cardText p {
        font-weight: 400;
        font-size: 12px;
        width: 100%;
        line-height: 19px;
      }

      .footText p{
        padding-top: 2rem;
    }

    .card {
        padding-left: 1rem;
      }

      .footLogo{
        margin-top: 0.5rem;
    }

    .footLogo>img{
        width: 60%;
    }

    .footSocial{
        padding-top: 0.8rem;
        margin-left: 1rem;
    }
    
    .footSocial>img{
        width: 20%;
        padding-left: 0.5rem;
    }
}

@media screen and (max-width: 651px){
    .text {
        width: 85%;
      }

    .text h2 {
        font-size: 35px;
      }

      .text p {
        width: 85%;
        font-size: 16px;
      }

      .topServices h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
      }
      
      .topServices p {
        font-size: 16px;
      }
      
      .mainServices {
        width: 90%;
        margin: auto;
      }

      .cardText h4 {
        font-weight: 400;
        font-size: 16px;
      }
      
      .cardText p {
        font-weight: 400;
        font-size: 12px;
        width: 100%;
        line-height: 19px;
      }

      .footText p{
        padding-top: 1.5rem;
    }

    .footLogo{
        margin-top: 0.5rem;
    }

    .footLogo>img{
        width: 50%;
    }

    .footSocial{
        padding-top: 1rem;
        margin-left: 1rem;
    }
    
    .footSocial>img{
        width: 15%;
        padding-left: 0.5rem;
    }

}

@media screen and (max-width: 425px){
    .text {
        width: 85%;
      }

    .text h2 {
        font-size: 45px;
      }

      .text p {
        width: 85%;
        font-size: 18px;
      }

      .topServices h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
      }
      
      .topServices p {
        font-size: 16px;
      }
      
      .mainServices {
        width: 90%;
        margin: auto;
      }

      .card {
        width: 332px;
        padding-top: 2.5rem;
        padding-left: 0rem;
        margin: auto;
        margin-bottom: 1rem;
      }
      
      .cardText h4 {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        color: #2f2c4a;
      }
      
      .cardText p {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #8c8c8c;
        width: 100%;
      }
      
      .cards1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .cards2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .board>img{
          margin-left:0.5rem;
      }


    .footer{
      width: 100%;
      background: #231F20;
      margin-top: 3rem;
  }
  
  .footInner{
      width: 70%;
      margin: auto;
      text-align: center;
      flex-direction: column;
      padding: 1rem 0rem;
  }

  .footText{
    width: 100%;
    margin: auto;
    text-align: center;
  }
  
  .footText p{
      font-weight: 200;
      font-size: 14px;

      padding: 1rem;
    
  }

  .footSocial>img{
      padding-left: 0rem;
      padding-right: 0.7rem;

  }

  .footLogo{
    margin-left: 0rem;
  }

  .footLogo>img{
    width: 25%;
}

}